@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* Define global design tokens for Tailwind v4 */
@theme {
    /* Primary brand color */
    --color-primary: #3273DC;
    --color-primary-foreground: hsl(210 20% 98%);

    --color-accent: #FFAA00;
    --color-accent-foreground: #FFFFFF;

    --color-ok: #00BC7D;
    --color-ok-foreground: #000000;
}

